.prix {
  font-size: 2.4em;
  font-weight: 900;
  text-align: start;

  @media screen and (min-width: 1024px) {
    font-size: 5em;
  }
}

.nbNuit {
  font-size: 1.2em;
  text-align: start;

  @media screen and (min-width: 1024px) {
    font-size: 2em;
  }
}
