body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.reservation-card {
  background: rgb(245, 243, 243);
  width: 130vh;
  border-radius: 12px;
  font-size: 20px;
}

.reservation-header {
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #000000;
}

.reservation-header h1 {
  font-size: 35px;
  margin-bottom: 60px;
}

.temps {
  display: flex;
  justify-content: center;
  gap: 30vh;
}

.arrivé {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  color: #4f4f4f;
}

.départ {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  color: #4f4f4f;
}

.nuits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 35px;
}

.nuits select {
  padding: 4px;
  font-size: 20px;
}

.details {
  padding: 8px;
}

.details h2 {
  font-size: 30px;
  margin: 8px 0;
}

.room-name {
  font-weight: bold;
  color: #555;
}

.location {
  color: #888;
  margin-bottom: 30px;
}

.room-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.info p {
  margin: 10px 0;
}

.reservation-footer {
  padding: 16px;
  border-top: 1px solid #ddd;
}

.prix {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
  gap: 10vh;
  font-size: 30px;
}

.inclus ul {
  list-style: none;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  font-size: 20px;
}

.inclus li {
  background: #ffffff;
  padding: 0px 8px;
  border-radius: 4px;
}

.valider {
  width: 100%;
  padding: 20px;
  background: #ffc107;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.valider:hover {
  background: #e0a800;
}
