.depart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.departInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.depart input {
  border: none;
  font-size: 1.5em;

  @media screen and (min-width: 1024px) {
    font-size: 3em;
  }
}

.depart img {
  width: 150px;
  height: auto;

  @media screen and (min-width: 1024px) {
    width: 300px;
  }
}

.depart span {
  font-size: 1.4em;

  @media screen and (min-width: 1024px) {
    font-size: 2em;
  }
}
