.arriver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arriverInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arriver input {
  font-size: 1.5em;
  border: none;

  @media screen and (min-width: 1024px) {
    font-size: 3em;
  }
}

.arriver img {
  width: 150px;
  height: auto;

  @media screen and (min-width: 1024px) {
    width: 300px;
  }
}

.arriver span {
  font-size: 1.4em;

  @media screen and (min-width: 1024px) {
    font-size: 2em;
  }
}
